@import '../../../styles/margin.module.scss';

.container {
    width: max-content;
}

.header {
    display: flex;
    gap: $m-m;
    align-items: center;
    margin: $m-m 0;
}

.list {
    background-color: white;
}