@import "../../styles/color.module.scss";
@import "../../styles/padding.module.scss";
@import "../../styles/margin.module.scss";
@import "../../styles/border.module.scss";

.button {
    background: $c-contrast;
    color: $c-dark;
    padding: $p-s $p-m;
    border-radius: $br-s;
    border: $bd-w solid $c-dark;
}

.button +.button {
    margin-left: $m-m;
}