@import "../../styles/color.module.scss";
@import "../../styles/margin.module.scss";
@import "../../styles/padding.module.scss";

.Guest {
  border: 1px solid $c-primary;
  font-family: "Dosis";
  width: auto;
  padding: $p-s $p-m;
  margin-bottom: $m-s;
}