$m-s: 8px;
$m-m: 16px;
$m-l: 32px;
$m-xl: 64px;

$p-s: 8px;
$p-m: 16px;
$p-l: 32px;
$p-xl: 64px;

$c-primary: #607196;
$c-secondary: #EAE8ED;
$c-third: #BABFD1;
$c-accent: #FF7B9C;
$c-contrast: #FFC759;
$c-dark: hsla(60, 1%, 23%, 1);
$o-0: 0%;
$o-25: 25%;
$o-50: 50%;
$o-75: 75%;
$o-100: 100%;

$br-s: 4px;
$br-m: 8px;
$br-l: 16px;
$br-xl: 32px;

$bd-w: 1px;

body {
    color: $c-dark;
    background-color: $c-secondary;
}