@import "../../theme/index.scss";

.Modal {

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: $o-75;
  background-color: $c-secondary;

  &-modal {
    position: absolute;
    top: $m-xl;
    bottom:$m-xl;
    left:$m-xl;
    right:$m-xl;
    border: 1px solid;
    background-color: $c-secondary;
    overflow: scroll-y;
    padding: $p-m;
  }

}