@import "../../theme/index.scss";

.Button {
    background: $c-contrast;
    color: $c-dark;
    padding: $p-s $p-m;
    border-radius: $br-s;
    border: $bd-w solid $c-dark;
}

.Button +.Button {
    margin-left: $m-m;
}